name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.0'

      - name: Pub get
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Build APK (debug)
        run: flutter build apk --debug

      - name: Build AppBundle
        run: flutter build appbundle
